body {
	margin: 0;
	padding: 0;
}

.proper {
	font-style: normal;
	font-weight: bold;
}

.page {
	display: table;
	width: 100%;
	height: 105vh;
}

.page .valign-wrapper {
	width: 100%;
	height: 100%;
}

.page .valign-wrapper .valign {
	padding: 0 15%;
}

.md-icon-line {
	line-height: 24px;
	display: inline-flex;
	vertical-align: middle;
	margin-left: -5px;
}

.down-arrow {
	display: block;
	color: transparent;
	font-size: 64px;
	text-shadow: 0 -15px #fff, 0 0 #ddd;
	margin-top: 50%;
	margin-bottom: -50%;
}

